@import "tailwindcss"; /*css framework*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&display=swap"); /*google font*/

* {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary: #2563eb;
  --color-secondary: #1f58d8;
  --color-light: #f1f5f9;
  --color-borderColor: #c4c7d2;
  --color-black: #0d0d0d;
  --color-tombol: #1e90ff;
  --color-sekunder: #f5f5f5;
}

@layer utilities {
  @keyframes floatX {
    0%,
    100% {
      transform: translateX(-70px);
    }
    50% {
      transform: translateX(70px);
    }
  }

  .animate-floatX {
    animation: floatX 5s ease-in-out infinite;
  }
}
